flows.json
[{"id":"b1ec7765.1e0db8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c201e205.e36b2","type":"ui_tab","z":"","name":"registration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"d3eb4a05.03ad68","type":"ui_group","z":"","name":"Reg form","tab":"c201e205.e36b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"f63d9e90.0b8cc","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"745d7687.79a1f8","type":"ui_group","z":"","name":"Login form","tab":"f63d9e90.0b8cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"3751eb5f.478b24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ecc0d0f.6336a","type":"ui_tab","z":"","name":"Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"c7d7d4da.a2b678","type":"ui_group","z":"","name":"custhelp","tab":"8ecc0d0f.6336a","order":1,"disp":true,"width":"6","collapse":false},{"id":"484aaaae.151d24","type":"ui_form","z":"b1ec7765.1e0db8","name":"","label":"","group":"d3eb4a05.03ad68","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":240,"wires":[["2ddb0c06.3d3d84","da5ea448.200f38"]]},{"id":"2ddb0c06.3d3d84","type":"debug","z":"b1ec7765.1e0db8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":120,"wires":[]},{"id":"da5ea448.200f38","type":"function","z":"b1ec7765.1e0db8","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["cf6c8adf.71a838"]]},{"id":"cf6c8adf.71a838","type":"cloudant out","z":"b1ec7765.1e0db8","name":"cloudant","cloudant":"","database":"sample","service":"node-red-okpbo-2020--cloudant-1597403371167-37822","payonly":true,"operation":"insert","x":550,"y":240,"wires":[]},{"id":"d33d6c20.a5183","type":"ui_form","z":"b1ec7765.1e0db8","name":"","label":"","group":"745d7687.79a1f8","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":400,"wires":[["51949f6b.01c87"]]},{"id":"51949f6b.01c87","type":"function","z":"b1ec7765.1e0db8","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":400,"wires":[["1aaee6e8.8d6bd9"]]},{"id":"1aaee6e8.8d6bd9","type":"function","z":"b1ec7765.1e0db8","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":400,"wires":[["f17c0050.de2dd"]]},{"id":"f17c0050.de2dd","type":"cloudant in","z":"b1ec7765.1e0db8","name":"sample","cloudant":"","database":"sample","service":"node-red-okpbo-2020--cloudant-1597403371167-37822","search":"_idx_","design":"search","index":"search","x":540,"y":400,"wires":[["5d201513.6eaefc"]]},{"id":"45810ab5.d454e4","type":"ui_text","z":"b1ec7765.1e0db8","group":"c7d7d4da.a2b678","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":320,"wires":[]},{"id":"5d201513.6eaefc","type":"function","z":"b1ec7765.1e0db8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":340,"wires":[["45810ab5.d454e4"]]},{"id":"6260dc5.d8f7e24","type":"ui_form","z":"b1ec7765.1e0db8","name":"","label":"","group":"c7d7d4da.a2b678","order":0,"width":0,"height":0,"options":[{"label":"User:input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":520,"wires":[["e1005067.4a83"]]},{"id":"e1005067.4a83","type":"function","z":"b1ec7765.1e0db8","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":500,"wires":[["d5cc0101.caf5a"]]},{"id":"d5cc0101.caf5a","type":"watson-conversation-v1","z":"b1ec7765.1e0db8","name":"","workspaceid":"2268c786-2608-4bc6-9519-34100339a704","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c39fd7fc-0d95-4d7a-a298-4aa0a9aae60a","timeout":"","optout-learning":false,"x":550,"y":500,"wires":[["aa6a1267.fbc2c"]]},{"id":"aa6a1267.fbc2c","type":"function","z":"b1ec7765.1e0db8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":520,"wires":[[]]}]